@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Fonts/Yes.css);
@import url('https://fonts.cdnfonts.com/css/hey-comic');
:root {
--Chat-Font-Used: 'Hey Comic', normal ;
--Chat-Font-Size: 15.5px;
}
:not([class="hljs"]):not(code){
font-family: var(--Chat-Font-Used)!important;
}

.markup:not(code) {
font-size: var(--Chat-Font-Size)!important;
}